<%
    stub_image = "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg"
    image = @cocktail.image.attachment ? cl_image_path(@cocktail.image.key) : stub_image
%>
<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image %>);">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container show mt-3">
  <div>

    <div class="description">
      <h2>Instructions</h2>
      <% if @cocktail.instructions %>
        <p><%= @cocktail.instructions %></p>
      <% else %>
        <p>There is not any instruction yet... Would you like to add you own?</p>
      <% end %>
    </div>

    <div class="description">
      <h2>Reviews</h2>
      <% unless @cocktail.reviews.empty? %>
        <div class="reviews">
          <ul>
            <% @cocktail.reviews.each do |review|%>
              <li>
                <div class="rating-stars">
                  <% review.rating.times do %>
                    <div><%= icon("fas", "star") %></div>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <div><%= icon("far", "star") %></div>
                  <% end %>
                </div>
                <div>
                  <%= review.content %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="add-review" data-controller="star-rating">
        <h3>Your review...</h3>
        <div class="stars" data-action="mouseleave->star-rating#showRating">
          <%
              stimulus_hooks = {
                "data-target" => "star-rating.star",
                "data-action" => "click->star-rating#setRating \
                                 mouseover->star-rating#chooseRating"
              }

            5.times do |i|
            stimulus_hooks["data-id"] = i + 1
          %>
            <div class="star"><%= icon("far", "star", stimulus_hooks) %></div>
          <% end %>
        </div>
        <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.input :content, label: false %>
          <%= f.input :rating, as: :hidden, input_html: { data: { target: "star-rating.form" } } %>
          <%= f.submit "Add ingredient" %>
        <% end %>
      </div>
    </div>
  </div>

  <div data-controller="ingredient">
    <div class="flip-container ingredients" id="flip-ingredients" data-target="ingredient.flipContainer">
      <div class=" flip-card flip-front">
        <h2>Ingredients</h2>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <div>
              <%= dose.ingredient.name %> -
              <%= dose.description %>
              <%= link_to icon("fas", "trash"),
                          dose_path(dose),
                          method: :delete,
                          data: {confirm: "Are you sure?"}  %>
            </div>
          <% end %>
        </ul>
        <div class = "flip-button" data-action="click->ingredient#showIngredientsForm">
          <%= icon("fas", "plus") %> ...
        </div>
      </div>
      <div class="flip-card flip-back" data-controller="select">
        <h2>Add an Ingredient</h2>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, collection: Ingredient.left_outer_joins(:doses).where("doses.cocktail_id IS DISTINCT FROM ?", @cocktail.id).order(:name),
                                         selected: 1,
                                         input_html: {data: { target: "select.input" }} %>
          <%= f.input :description %>
          <%= f.submit "Add ingredient" %>
        <% end %>
          <div class = "flip-button" data-action="click->ingredient#showIngredientsForm">
          <%= icon("fas", "undo-alt") %> Go back...
        </div>

      </div>
    </div>
  </div>

</div>
